* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#background {
    background-color: slategray;
    background-image: url("https://images4.alphacoders.com/707/thumb-1920-707865.jpg");
    position: relative;
    background-attachment: fixed;
}

/* background layer filter that would scroll with the screen */
/* #layer {
    background-color: rgba(0, 0, 0, 0.6)  top center fixed no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-attachment: inherit;
} */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* h1, h2, h3, h4, h5, h6, p {
} */

#title {
    font-size: 40px;
    color: rgb(255, 254, 182);
}

header {
    position: relative;
    padding: 20px;
    background-color: rgb(44, 39, 68);
    width: 100vw;
}

.section {
    position: relative;
    margin: 15px;
    width: 800px;
    height: fit fit-content;
    background-color:rgb(61, 50, 117);
    color: rgb(255, 254, 182);
    padding: 20px;
    text-align: center;
}

button {
    height: 40px;
    width: 400px;
    font-size: 24px;
    background-color: rgb(53, 141, 129);
    color: rgb(255, 254, 182);
    border-radius: 5px;
    position: relative; 
    margin: 20px;
    top: -15px;
}

.random-perk {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: fit-content;
    text-align: left;
}

img {
    max-width: 175px;
}

#killer-img, #survivor-img {
    position: relative;
    left: -20px;
    max-width: 300px;
}

#random-killer, #random-survivor {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#bug-input {
    background-color: #231d42;
    height: 35px; width:600px;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(255, 254, 182);
}

#bug-input:focus::placeholder {
    color: transparent;
}

#bug-input:focus {
    outline: none;
}

#bug-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#submit-button {
    height: 35px;
    width: 130px;
    border-radius: 5px;
    background-color: rgb(53, 141, 129);
    color: rgb(255, 254, 182);
    font-size: 24px;
}